
<body>
  <div style=text-align:center>
    <h1>Welcome to our {{title}}!</h1>
  </div>

  <div id="calculator">
    <!-- This is for the main body of the calc -->
    <form>
    <input type="text" id="out" class="screen" name="output" placeholder="0"/>
    <!-- This is the output screen display -->
    <div class="key_body">
      <!-- Body for where the calculator keys will be held -->
      <input type="button" class="calculator_keys operation" value="C" (click)="clear()" />
      <input type="button" class="calculator_keys operation" value="+/-" />
      <input type="button" class="calculator_keys operation" value="%" />
      <input type="button" class="calculator_keys operation" data-action="divide" value="/" />
      <input type="button" class="calculator_keys" value="7" (click)="seven()" />
      <input type="button" class="calculator_keys" value="8" />
      <input type="button" class="calculator_keys" value="9" />
      <input type="button" class="calculator_keys operation" data-action="multiply" value="X" />
      <input type="button" class="calculator_keys" value="6" />
      <input type="button" class="calculator_keys" value="5" />
      <input type="button" class="calculator_keys" value="4" />
      <input type="button" class="calculator_keys operation" data-action="substract" value="-" />
      <input type="button" class="calculator_keys" value="3" />
      <input type="button" class="calculator_keys" value="2" />
      <input type="button" class="calculator_keys" value="1" />
      <input type="button" class="calculator_keys operation" data-action="addition" value="+" />
      <input type="button" class="calculator_keys zero" value="0" />
      <!-- <input type="button" class="calculator_keys" value=" " /> -->
      <input type="button" class="calculator_keys" value="." />
      <input type="button" class="calculator_keys operation" data-action="calculate" value="=" />
    </div>
    </form>
  </div>
</body>